*{
margin: 0;
padding: 0;
color: #fff;
}
body{

height: 100vh;
display: flex; 
flex-direction:column;
background-color: #fd1d1d; /* Matches one of the gradient colors */

}
/* background-image:linear-gradient(113.99deg, #2b4da5 6.12%, #1e3a8a 83.22%);  */
@media screen and (min-width:700px) {
    body{
height: 100vh;
display: flex; 
flex-direction:column;
background-color: #fd1d1d; /* Matches one of the gradient colors */
color: #fff;
}
}
Header{
/* background-color:#Fff; */
/* background-image:linear-gradient(113.99deg, #2b4da5 6.12%, #1e3a8a 83.22%);  */
background-image: linear-gradient(140.99deg, #89f7fe 6.12%, #66a6ff 90.22%);

opacity: 90%;
width: 98vw;
    margin: 0 auto;
    border-radius: 0.4rem;
box-shadow: 0px 0px 10px black;
position: sticky;
top: 0;

}
.header-container{
display: flex;
justify-content: space-around;
text-align: center;
    padding: 2vh;
;
}
.item{

}
.item .money-color{
color: blue;
font-size: 2rem;
}
.main-container{

}
 .package-title{
text-align: center;

}
.rank-buying{
color: rgb(255, 208, 0);
margin: 0 10px;
}
.items{
background-image: linear-gradient(120deg, #fcb045, #fd1d1d, #d533f5);
margin: 5px 0;
text-align: center;

    margin: 8px auto;
    border-radius: 0.2rem;
box-shadow: 0px 0px 2px black;
padding: 8px;
}
.items:hover{
background-image:linear-gradient(140.99deg, #29a4e1 6.12%, #735ab8 90.22%);

}
.items>a{

text-decoration: none;
}
.details{
font-size: 0.8rem;
color: hsla(0, 8%, 89%, 1.6);
}
.box{
margin: 11px 15px 0px 15px;   
 box-shadow: 3px 0 7px black;
    padding: 13px 0 7px 0;
    border-radius: 7px;
}
.buying-details{
display: flex;
justify-content: space-between;
margin: 0px 15px;
}

 /* Container fixed at the bottom */
  .container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Full width */
margin-top: 71vh;
    padding: 0;
    box-shadow: 0 -3px 7px rgba(0, 0, 0, 0.3);
    /* Shadow for subtle effect */
    background-color: #fff;
    /* Background color */
    z-index: 1000;
    /* Ensure it is above other content */
line-height: 99%;
  }

  /* Layer within the container for alignment */
  .container-layer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    background-color: #fff;
    /* Ensure background color matches container */
  }

  /* Styling for clickable items */
  .clk {
    color: black;
    text-decoration: none;
    padding: 3px;
    margin: 0 auto;
    text-align: center;
  }

  i {
    font-size: 2rem;
    margin: 0 auto;
  }
